@import "bootstrap";

// body {
// 	padding-top: 20px;
// }
body { 
	background-color: #FFF;
	background-image: url(../images/new_year_background.png);
}

.container {
	padding: 0;
	width: 100%;
}

.navbar {
	border-radius: 0px;
}

.content {
	padding: 0 20px;
}
